* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html, body {
	height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 15px;
}

/**********Главная**********/

h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.chapter__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

li {
  margin-bottom: 12px;
}

a {
  color: #34495e;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: .5s;
}

a:hover {
  color: #7f8c8d;
}

/**********Главная**********/

/**********Глава 1. Вывод информации на экран**********/

h2 {
  margin-top: 8px;
}

p {
  margin-top: 8px;
}

.block {
  margin-top: 12px;
  margin-bottom: 12px;
}

/**********Глава 1. Вывод информации на экран**********/
